{{> layout/header}}
<!-- header -->
<!-- 탭 구현 할 것! 지금은 안된 상황-->
<div class="container grid-gap: 50px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/person/main">구인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/company/main">구직</a>
        </li>
        {{#sessionuser}}
            <li class="nav-item">
                <a class="nav-link"
                   href="{{#isMatchingCompany}}/company/matching{{/isMatchingCompany}}{{^isMatchingCompany}}/person/matching{{/isMatchingCompany}}">맞춤공고</a>
            </li>
        {{/sessionuser}}


    </ul>
</div>
<div class="container align-items-center mt-3 border p-3" style="border-radius: 10px;">
    <h5 class="pb-2">맞춤 검색</h5>
    <form>
        <div class="search-top mb-3">
            <div class=" company search d-flex " role="search">
                <input class="form-control me-2" type="search" placeholder="기술스택/경력으로 검색" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

    </form>
</div>

<section class="container grid-gap: 50px; mt-5">
    <ul class="row row-cols-4 gap-3">
        <!-- 이력서 시작 -->
        {{#resumeList}}
            <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
                <a href="/resume/detail/{{id}}" style="text-decoration: none; color: black">
                    <div style="width: 100%; height: 15rem; overflow: hidden">
                        <img src="/images/{{profile}}" class="card-img-top" alt="이력서 사진"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"  style="
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                "><b>{{title}}</b></h5>
                        <h6><span>커리어</span>|<span>{{career}}</span></h6>

                        <p class="card-text" style="
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                            {{simpleIntroduce}}
                        </p>
                        <div class="d-flex justify-content-start" style="
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                            <h6><span>{{#skillList}}
                                <button class="btn btn-outline-warning btn-sm disabled">
                                    {{skill}}
                                </button>{{/skillList}}</span></h6>
                        </div>
                    </div>
                </a>

            </li>
        {{/resumeList}}

    </ul>

</section>
<!-- 이력서들 -->
<div class="container mt-5 mb-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <!-- <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li> -->
            <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>
{{> layout/footer}}