<footer class="border-top  bg-light">
    <div class="sj_full_container py-5 text-center bottom-0" style="font-size: 12px;">
        Copyright© Go-Job <br/><br/>
        <a class="link-dark" href="#">고객센터</a> </br>
        000-0000-0000 (평일 09:00~19:00, 주말공휴일 휴무)<br/>
        gojob@xxxx.co.kr<br/>
        부산 진구 부전동<br/>
    </div>
</footer>
</body>
</html>