{{>layout/header}}

<div class="container d-flex">
    <div class=" mx-2 pb-4 w-100">
        <div class=" p-5 ">
            <div class="d-flex justify-content-between">
                <h1 class=" d-inline-flex">마이페이지</h1>
            </div>
            <hr/>
            <div class="container w-50 mt-5 text ">

                <form action="/person/info/update-form" method="get">
                    <div class="px-5 mt-5">
                        <img src="/images/파일명" id="profile" class="mx-auto d-block mt-5 my-3 w-50 h-50">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="name" class="form-label">이름</label>
                        <input type="name" class="form-control" id="name" name="name" value="이서현" readonly>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="birth" class="form-label">생년월일</label>
                        <input type="birth" class="form-control" id="birth" name="birth" value="2000-08-09" readonly>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="tel" class="form-label">연락처</label>
                        <input type="tel" class="form-control" id="tel" name="tel" value="01012345678" readonly>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="address" class="form-label">주소</label>
                        <input type="address" class="form-control" id="address" name="address" value="부산광역시" readonly>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="email" name="email" value="lsh@nate.com" readonly>
                    </div>

                    <hr class="my-4">
                    <div style="width: 100%;">
                        <button type="submit" class="btn btn-outline-success mb-3"
                                style="width: 100%">수정하기
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="list-group" style="position: fixed; right: 80px; top: 220px; width: 180px;">
        <a href="/person/info" class="list-group-item active" style="width: 180px;">회원정보관리</a>
        <a href="/person/resume" class="list-group-item " style="width: 180px;">이력서관리</a>
        <a href="/person/scrap" class="list-group-item hs_list_effect" style="width: 180px;">스크랩한 공고</a>
        <a href="/person/offers" class="list-group-item " style="width: 180px;">받은 제안</a>
        <a href="/person/applies" class="list-group-item" style="width: 180px;">지원 현황</a>
    </div>
</div>
<!-- list-group( 오른쪽 바로가기) 시작 -->

<!-- list-group( 오른쪽 바로가기) 끝 -->

{{>layout/footer}}