{{> /layout/header}}

<div class="container d-flex">
    <!-- 이력서 검토 시작 -->
    <div class=" mx-2 pb-4 w-100">
        <div class="border border-tertiary  p-5 rounded shadow">
            <div class="d-flex justify-content-between">
                <h1>제안 온 메일을 확인해 보세요!</h1>
            </div>
            <hr>
            <div class="container mb-5 mt-5 w-100 h-100">
                <table class="table table-hover">
                    <tr class="table-dark">
                        <th class="col-2">회사</th>
                        <th class="col-2">회사명</th>
                        <th class="col-7">채용 공고</th>
                        <th class="col-2">날짜</th>
                    </tr>

                        <tr class="table-info">
                            <td><img src="/images/파일명" style="width: 100%; max-width: 100px"></td>
                            <td>회사명</td>
                            <td><a href="/person/offer/post/detail/1" class="text-decoration-none">공고명</td>
                            <td>지원온 시간</td>
                        </tr>

                </table>
            </div>
        </div>
    </div>
    <!-- 이력서 검토 끝 -->
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group" style="position: fixed; right: 80px; top: 220px; width: 180px;">
        <a href="/person/info" class="list-group-item " style="width: 180px;">회원정보관리</a>
        <a href="/person/resume" class="list-group-item " style="width: 180px;">이력서관리</a>
        <a href="/person/scrap" class="list-group-item hs_list_effect" style="width: 180px;">스크랩한 공고</a>
        <a href="/person/offers" class="list-group-item active" style="width: 180px;">받은 제안</a>
        <a href="/person/applies" class="list-group-item " style="width: 180px;">지원 현황</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>

{{> /layout/footer}}