{{> layout/header}}
<div class="container d-flex">
    <div class=" mx-2 pb-4 w-100">
        <div class="border border-tertiary p-5 rounded shadow">
            <h1>제목</h1>
            <div class="d-flex justify-content-start mx-2">
            </div>
            <hr>

            <div class="d-flex justify-content-center">
                <div style="width: 85%;">
                    <img src="/images/파일명" alt="프로필 사진" style="width: 188px; height: 226px;">
                    <div class="jh_resume_flexbox mt-3">
                        <!-- 이미지를 올리면 그게 올라가고 올리지 않으면 기본 프로필이 올라감 -->
                        <table class="resume_table">
                            <tr>
                                <td>이름</td>
                                <td>이름</td>
                            </tr>
                            <tr>
                                <td>생년월일</td>
                                <td>생년월일</td>
                            </tr>
                            <tr>
                                <td>연락처</td>
                                <td>연락처</td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>주소</td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td>이메일</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-5">
                        <h4>경력사항</h4>
                        <input name="career" class="w-100 opacity-50" rows="10" value="경력" readOnly>
                        <h4>간단 소개</h4>
                        <input name="simpleIntroduce" class="w-100 opacity-50" rows="10"
                               value="한줄소개" readOnly>
                        <h4>포트폴리오 주소</h4>
                        <input type="url" class="form-control mt-2" id="" name="portfolio" style="display: block;"
                               value="파일명" readOnly>
                    </div>
                    <div class="mt-5 jh_resume_skill">
                        <h4>기술스택</h4>
                        <div>
                            <h6>
                                <span>

                                        <button class="btn btn-outline-warning btn-sm disabled">스킬
                                    </button>

                                </span>
                            </h6>
                        </div>
                    </div>
                    <div class="mt-5 w-100">
                        <h4>자기소개</h4>
                        <textarea name="introduce" class="w-100 opacity-50" rows="10" readOnly>자기소개
                        </textarea>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <a href="/person/resume/detail/1/update-form" class="btn btn-outline-success mt-3 mb-3"
                           style="width: 100%">수정하기</a>
                        <a href="/person/resume" class="btn btn-outline-success mt-3 mb-3"
                           style="width: 100%">목록으로</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{> layout/footer}}